/*font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3vga0k');
  src:  url('fonts/icomoon.eot?3vga0k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3vga0k') format('truetype'),
    url('../fonts/icomoon.woff?3vga0k') format('woff'),
    url('../fonts/icomoon.svg?3vga0k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.holder{
  /* caja contenedora del todo el contenido se deberia colocar al principio*/
  width: 960px;
  margin: 0 auto; /* va en el medio*/
}

header{
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  padding: 0 0; /* el em viene por defecto del body */
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;

}

.right{
  float: right;
}

.left{
  float: left;
}


header div img{
  width: 25%;
  margin: auto;
  padding: 0;
  display: block;
  margin: auto;
  background-color: white;

}
.logo{
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/
  padding: 0;
  margin: 0;

}


.navegacion {
  display: inline-block;
  width: 100%;
 /* box-shadow: 0px 3px 0px rgba(0,0,0,0.1);*/
  background: white;
}


nav ul {
  list-style-type: none; /* se borra el punto de la lista*/
  padding: 0;
  width: 100%;
 /* background: #eee;*/
  text-align: center;
  margin: auto;
 /* position: fixed;*/
   
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}


nav ul li a{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #949494;
  /*font-weight: bold;*/
  line-height: 20px; /* centrarlo en la caja contenedora*/
  padding: 0 20px;
  display: block; /* permite que la persona vaya a clickear el nav pueda seleccionar el boton y no solo en las letras*/
  /*margin-right: 2px;*/ /* separacion entre botones*/
  
}

nav ul li a:hover{
  text-decoration: underline;
  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/

}

footer h5{
  font-size: 1.3em;
  position: relative;
  left: 20px;
  top: 80px;

}

footer{
  background-color: #65bcbf;
  clear: both;
  color: #333;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
  margin-top: 2em;
  height: 200px;
}

footer p{
  margin: 0;
}

.iconosredesfooter{
  position: relative;

}

.iconosredesfooter a{
  text-decoration: none;
}


a {
  text-decoration: none;
}



.icon-facebook:before,.icon-linkedin:before,.icon-mail:before,.icon-mensaje:before{
  font-family: 'icomoon';
  font-size: 2.5em;
  margin: 0 auto;

}


.imghome{
  padding-top: 150px;
  max-width: 100%;
  height: auto;
/*  overflow: hidden;*/
  position: relative;
}


.icon-brujula:before {
  content: "\e900";
  color: #ccc;
}
.icon-facebook:before {
  content: "\e901";
  color: #ccc;
}
.icon-linkedin:before {
  content: "\e902";
  color: #ccc;
}
.icon-mail:before {
  content: "\e903";
  color: #ccc;
}
.icon-ubicacion:before {
  content: "\e904";
  color: #ccc;
}
.icon-mapa:before {
  content: "\e905";
  color: #ccc;
}
.icon-mensaje:before {
  content: "\e906";
  color: #ccc;
}


.homeinfo h3{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  color: #f8777d;
}

.homeinfo h1{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 2.5em;

}

.homeinfo p{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 40%;
  height: 35%;
  font-family: 'Raleway', sans-serif;
  color: #8a8a8a;
}


.homeinfo{
  position: absolute;
  bottom: 100px;
  width: auto;



}

.iconosredeshome{
  /*background: blue;*/
  float: right;
  position: relative;
  right: 10px;
  bottom: 50px;

}

.iconosredeshome a{
  text-decoration: none;
}
/*finalheader*/

/*inicio about*/
.about{
    height: 600px;

}

.fondoabout{
  position: relative;
  right: 20px;
  top: 80px;
}


.aboutme h2{
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 3em;
  margin: 0 auto;



}

.aboutme h3{
  font-family: 'Archivo Black', sans-serif;
  color: #949494;
  font-size: 1.5em;
  margin: 0 auto;



}


.aboutme p{
  font-family: 'Raleway', sans-serif;
  color: #949494;;
  margin: 0 auto;
  font-size: 1.2em;
  font-style: bold;

}

.fondoimg img{
  z-index: -1;
  
}


.aboutme{
  width: 400px;
  height: 350px;
  position: absolute;
  top: 600px;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15);
  padding: 40px;
  background-color: white;
}




.about1 .imgtul img{
  width: 40%;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15);
  float: right;
  position: relative;
  border-radius: 50%;
  right: 15px;
  padding: 5px;
  bottom: 300px;
  

}

.imgtul {
  width: auto;
  display: block;
  box-sizing: 50%;

}

/* fin about*/

/* comienzo skills*/

.skills{
  height: 300px;
}

.skills h2{
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 3em;
  margin: 25px;
  padding: 10px;
  

}

.skillslist ul{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
  


}

.skillslist ul li{
  padding: 30px;
  text-align: center;


}




.skillslist{
  height: 200px;
  width: 960px;
  background-color: white;
  position: absolute;
  top: 1120px;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15);
  overflow: hidden;

}

.fondogardiente {
  top: -150px;
  position: relative;
  margin-right: 10px;

}

.imghabilidades{
  clear: both;
}

.lista{
  padding: 0;
  margin: 0;
}


/*.fondoskills {
  z-index: -1;
}
*/
.fondogardiente{
  position: relative;
  left: 40px;
  bottom: 20px;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f8777d;
    transition: width 0.6s ease;
}
/*::before, ::after {
    box-sizing: border-box;
}*/

div {
    display: block;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    font-family: 'Raleway', sans-serif;
}

.photoshop {
  width: 140px;
  margin: 10px;
}

.illus {
  width: 140px;
  margin: 10px;
 
}

.solid {
  width: 140px;
  margin: 10px;
}

.html {
  width: 140px;
  margin: 10px;
}

.css {
  width: 140px;
  margin: 10px;
}

.rendering {
  width: 140px;
  margin: 10px;
}


/* fin skills*/


/* comienzo projects*/

.projects{
  height: 500px;
  background-color: #ece3e2;

}


.projectscuadro ul{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  list-style: none;
  top: 10px;
  padding: 20px;
  margin: 0;
  
}
.projectscuadro ul li{
  padding: 5px;
  
}
.projectscuadro ul li a{
  color: #535c5f;
}

.projectscuadro ul li a:hover{
  text-decoration: underline;
  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/

}


.contenedor1 {
    background-color: green;
    display: flex;
    justify-content: space-between;
}


.item {
  background-color: #ccc;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  width: 300px; /*se adapta al tamaño*/
  height: 180px;
}

/* fin projects*/

/* comienzo contact */
.contact h2{
   font-family: 'Archivo Black', sans-serif;
   color: #535c5f;
}


.contact {
  height: 400px;

  /*border-color: #e6e6e6;*/

}


.columna{
  width: 50%;
  padding: 0 0.625em;
  box-sizing: border-box;
  
}

.columna.left{
  /*lineas separadoras/ las dos clases juntas cuando estan en la mismo div, tiene la dos clases*/
  border-right: 1px solid #ddd;
}

.columna.right p{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;

}
.columna.right ul li{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
}

.formulario label{
  font-family: 'Raleway', sans-serif;
  width: 22%;
  /*vertical-align: top;*/ 
  /*background-color: red;*/
  /*display: inline-block;*/
  display: block; /*bajan la cajita y sube el titulo*/
}

.formulario input,
.formulario textarea{
  font-family: 'Raleway', sans-serif;
  background-color: #ddd;
  border: 1px solid #999;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  width: 95%;

}

.formulario textarea{
  height: 10em;
  resize: none;
  /* se mantiene el area estatica de la caja de comentario*/
}

.formulario input[type="submit"]{
  font-family: 'Raleway', sans-serif;
  width: auto;
  background-color: #f8777d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.14);
  color: white;
  font-size: 1em;
  text-align: center;
}

.formulario .acciones {
  text-align: right;
}






/* fin contact */