/*font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2zwy1p');
  src:  url('../fonts/icomoon.eot?2zwy1p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2zwy1p') format('truetype'),
    url('../fonts/icomoon.woff?2zwy1p') format('woff'),
    url('../fonts/icomoon.svg?2zwy1p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.holder{
  /* caja contenedora del todo el contenido se deberia colocar al principio*/
  width: 960px;
  margin: 0 auto; /* va en el medio*/
}

header{
  box-shadow: 0 0 10px rgba(0,0,0,0.14);
  padding: 0 0; /* el em viene por defecto del body */
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;

}

.right{
  float: right;
}

.left{
  float: left;
}


header div img{
  width: 10%;
  margin: auto;
  padding: 0;
  display: block;
  margin: auto;
  background-color: white;

}
.logo{
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/
  padding: 0;
  margin: 0;

}


.navegacion {
  display: inline-block;
  width: 100%;
 /* box-shadow: 0px 3px 0px rgba(0,0,0,0.1);*/
  background: #ffffff; 

}


nav ul {
  list-style-type: none; /* se borra el punto de la lista*/
  padding: 0;
  width: 100%;
 /* background: #eee;*/
  text-align: center;
  margin: auto;
 /* position: fixed;*/
   
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}


nav ul li a{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  color: #949494;
  /*font-weight: bold;*/
  line-height: 20px; /* centrarlo en la caja contenedora*/
  padding: 0 20px;
  display: block; /* permite que la persona vaya a clickear el nav pueda seleccionar el boton y no solo en las letras*/
  /*margin-right: 2px;*/ /* separacion entre botones*/
  
}

nav ul li a:hover{
  text-decoration: underline;
  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/

}


footer{
  background-color: #f8f8f8;
  clear: both;
  font-family: 'Raleway', sans-serif;
  height: 100px;
  font-style: normal;
  position: absolute;
  width: 100%;
}

footer p{
  margin: 0;
}

footer .footernav .navegacionfooter nav ul li a{
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
  color: white;
  /*font-weight: bold;*/
  line-height: 20px;  centrarlo en la caja contenedora
  padding: 0 20px;
  display: block; /* permite que la persona vaya a clickear el nav pueda seleccionar el boton y no solo en las letras*/
  /*margin-right: 2px;*/ /* separacion entre botones*/
  
}

.footernav {
    display: inline-block;
 /* box-shadow: 0px 3px 0px rgba(0,0,0,0.1);*/
    float: right;  
}

nav ul li a:hover{
  text-decoration: underline;
  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/

}

footer .copyright{
  font-size: 1em;
  margin: 0
  color: #8a8a8a;
  position: relative;
}

footer .copyright h5{
  font-size: 0.8em;
  color: #8a8a8a;
  position: relative;
  left: 50px;
  top: 20px;
}

footer .footernav{
  position: relative;
  margin: 0;
  bottom:  30px;
}


.iconosredesfooter{
  position: relative;

}

.iconosredesfooter a{
  text-decoration: none;
}


a {
  text-decoration: none;
}



.icon-facebook:before,.icon-linkedin:before,.icon-mail:before,.icon-mensaje:before,.icon-desing:before,.icon-code:before,.icon-edit-3:before,.icon-pen-tool:before,.icon-settings:before, .icon-mapa:before{
  font-family: 'icomoon';
  font-size: 2em;
  margin: 0 auto;

}

.icon-facebook:hover{
 background-color: red;
 color: green;

}

.imghome{
/*  padding-top: 128px;*/
  max-width: 100%;
  height: auto;
/*  overflow: hidden;*/
  position: relative;
}


.icon-desing:before {
  content: "\e907";
  color: #ccc;
}
.icon-code:before {
  content: "\e908";
  color: #ccc;
}
.icon-edit-3:before {
  content: "\e909";
  color: #ccc;
}
.icon-facebook:before {
  content: "\e901";
  color: #ccc;
}
.icon-linkedin:before {
  content: "\e902";
  color: #ccc;
}
.icon-mail:before {
  content: "\e903";
  color: #ccc;
}
.icon-ubicacion:before {
  content: "\e904";
  color: #ccc;
}
.icon-mapa:before {
  content: "\e905";
  color: #ccc;
}
.icon-mensaje:before {
  content: "\e906";
  color: #ccc;
}
.icon-pen-tool:before {
  content: "\e90a";
  color: #ccc;
}
.icon-settings:before {
  content: "\e90b";
  color: #ccc;
}

.homeinfo h3{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  color: #f8777d;
}

.homeinfo h1{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 2.5em;

}

.homeinfo p{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 40%;
  height: 30%;
  font-family: 'Raleway', sans-serif;
  color: #8a8a8a;
}


.homeinfo{
  position: absolute;
  bottom: 60px;
  width: auto;



}

.iconosredeshome{
  /*background: blue;*/
  float: right;
  position: relative;
  right: 30px;
  bottom: 60px;

}

.iconosredeshome a{
  text-decoration: none;
}
/*finalheader*/

/*inicio about*/
.about{
  /*background: orange*/
  width: 960px;
  height: 420px;
  position: relative;
  
}
/*
.contenedorabout{
  display: flex;
  justify-content: space-around;
  
}*/

.contenedorabout .info{
  height: 300px;
  width: 360px;
  right: 30px;
  top: 15px;
  left: 50px;
  position: absolute;
  padding: 20px;
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15);
  padding-bottom: 60px;
  border-radius: 10px;

}

.info h2{
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 2em;
  margin: 0; 

} 

.info h4{
  font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 1em;
  padding: 0;
  margin: 0;  

} 

.info p{
  font-family: 'Raleway', sans-serif;
  color: #535c5f;
  font-size: 1em;
  padding-top: 8px;
  padding-bottom: 10px;
  margin: 0; 
} 
.resumen{
  /*box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .1);*/
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  border: 1px solid #e6e6e6;
text-align: center;
}

.resumen a{
  padding: 2px;
  font-family: 'Raleway', sans-serif;
  color: #535c5f;
  
}

.resumen:hover{
  background-color: #e6e6e6 ;
  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/
  color: white;

}

.resumen a:hover{

  /* el:hover es una pseudoclase cuando la mano este sobre el boton*/
  color: white;

}

.resumen{
  transition: all 0.5s ease;
}
.imagentul img{
  box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .15);
  position: absolute;
  border-radius: 50%;  
  width: 38%;
  left: 550px;
  bottom: 10px;
  padding: 5px;

}


/* fin about*/

/* comienzo skills*/

.icon1 h3{
  font-family: 'Raleway', sans-serif;
  color: #535c5f;
  font-size: 1em;
  margin: none;
  padding: none;
}

.contenedor2{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  
}

.contenedor2 .icon1{
 text-align: center;
 width: 100px;
}

.skills h2{
    font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;

}
/* fin skills*/


/* comienzo projects*/

.projects{
  height: 400px;
  background-color: #ece3e2;

}


.projectscuadro h4{
    font-family: 'Archivo Black', sans-serif;
  color: #535c5f;
  font-size: 1.5em;
  text-align: center;
  list-style: none;
  top: 10px;
  padding: 20px;
  margin: 0;
  
}


.contenedor1 {
/*    background-color: green;*/
    display: flex;
    justify-content: space-around;
}


.item {
/*  background-color: #ccc;*/
  margin: 10px;
  text-align: center;
  line-height: 0px;
  font-size: 30px;
  width: 200px; /*se adapta al tamaño*/
  transition: all 0.5s ease;
  margin-bottom: 10px;
  
}

.projects .contenedor1 img{
  box-shadow: 0 0 10px rgba(0,0,0,0.14);
  margin: 10px;
  border-radius: 10px; 

}

/*transiciones*/

/*.item:hover{

  box-shadow: 
    10px 10px #f8777d;

  transform: translate(-5px);


}*/


/*modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*modal1*/


.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*modal2*/


.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.botonmodal{
  font-family: 'Raleway', sans-serif;
  width: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  color: #535c5f;
  font-size: 0.6em;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-left: 20px;

}

.botonmodal:hover{
  background-color: #f8777d;
  color: white;
}

.botonmodal{
  transition: all 0.5s ease;
}

/* fin projects*/

/* comienzo contact */
.contact h2{
   font-family: 'Archivo Black', sans-serif;
   color: #535c5f;
}


.contact {
  height: 450px;

  /*border-color: #e6e6e6;*/

}
.formuconsul{
  position: absolute;
}


.fondogardiente1 {
  position: relative;
  float: right;
  display: block;
}

.columna{
  width: 50%;
  padding: 0 0.625em;
  box-sizing: border-box;
  position: relative; 
  background-color: white; 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: 10px;
}


.columna.left p{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;

}
.columna.left ul li{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
}

.formulario label{
  font-family: 'Raleway', sans-serif;
  width: 22%;
  /*vertical-align: top;*/ 
  /*background-color: red;*/
  /*display: inline-block;*/
  display: block; /*bajan la cajita y sube el titulo*/
}

.formulario input,
.formulario textarea{
  font-family: 'Raleway', sans-serif;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  width: 95%;
}

.formulario textarea{
  height: 10em;
  resize: none;
  /* se mantiene el area estatica de la caja de comentario*/
}

.formulario input[type="submit"]{
  font-family: 'Raleway', sans-serif;
  width: 80px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  /*box-shadow: 0 0 9px rgba(0,0,0,0.19);*/
  color: #535c5f;
  font-size: 1em;
  text-align: center;
}

.formulario .acciones {
  text-align: right;
}

.contectorap {
  float: left;
  width: 420px;
}

.contectorap h6{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-style: normal;
  margin: 10px;
  padding: 10px;
  color: #535c5f;
}

.contectorap h3{
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
  color: #535c5f;
  margin: 0 auto;
  font-style: normal;
}

.contectorap p{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  width: 400px;
  line-height: 20px;
  color: #535c5f;
}

.contectorap input[type="submit"]{
  font-family: 'Raleway', sans-serif;
  width: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  color: #535c5f;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.otrosp{
    border-top: 1px solid #e6e6e6;
    width: 45%;
    position: relative;
    top: 50px;
}


.contact .otrosp h6{  
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-style: normal;
  margin: 5px;
  padding-top: 20px;
  color: #535c5f;

}

.iconosredescontacto {
  padding: 5px;
}


.contectorap .numero{

}

.contectorap .numero{
  border: 1px solid #e6e6e6;
  width: 160px;
  position: relative;
  border-radius: 20px;
  height: auto;
  padding: 10px;
  margin: 0;
  display: inline-block;
  margin-left: 10px;
  top: 15px;
}

.contectorap .numero span{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
  padding: 5px;
  color:#535c5f;
}

.contectorap .mail{
  border: 1px solid #e6e6e6;
  width: 200px;
  position: relative;
  border-radius: 20px;
  height: auto;
  padding: 10px;
  margin: 0;
  display: inline-block;
  top: 15px;
}

.contectorap .mail span{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
  padding: 5px;
  color:#535c5f;
}


.botoncont:hover{
  background-color: #e6e6e6 ;
}

/* reglas de validación de los formularios*/

.formulario label.error{
  width: auto;
  font-size: 0.8em;
  color: #c00;
  margin-top: 3px;

}

.formulario input.error, .formulario textarea.error{
  border: 1px solid #c00;
  box-shadow: 0 0 2px #e52325;
  
}

.formulario input, .formulario textarea{
  transition: all 0.5s ease;
}
/* fin contact */
